#app-uitgaven-form{
  display: flex;
  width: 70%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: cornflowerblue;
}

.selectbox{
  width: 100%;
  height: 20px;
  font-size: 16px;
}

section form{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  background: white;
  opacity: .5;
  paddin-bottom: 20px;
}

table{
  margin-top: 10px;
  margin-bottom: 10px;
}
tr{
  width: 100%;
  text-align: center;
  border-right: 3px solid blue;
}

th{
  font-weight: bold;
  font-size: 20px;
  border-right: 3px solid cornflowerblue;
  border-bottom: 3px solid cornflowerblue;
}

td{
  border-right: 3px solid cornflowerblue;
}

table input{
  width: 100%;
}

#more-rows{
  float: right;
  width: 20%;
  height: 30px;
  font-size: 20px;
  color: white;
  background: black;
  margin-bottom: 50px;
}

#more-rows:hover{
  opacity: .5;
  border: 2px solid cornflowerblue;
  background: white;
  color: black;
}

.delete-btn:hover{
  background-color: red;
}

.delete-btn-td{
  border: none;

}
