#article-main{
  line-height: 1000%;

}
#article-main p{
  text-align: center;
  font-size: 20px;
  color: white;
}
#selection-title{
  height: 25%;
}
#selection-box{
  margin: auto;
  width: 70%;
  height: 70%;
  background-color: black;
}

#selection-box-inner1{
  float: left;
  width: 33.333%;
  width: calc(100%/3);
  height: 100%;
  background-color: cornflowerblue;
  border-radius: 100%;
}

#selection-box-inner1:hover > #bon-remove{
  background-image: url('../../assets/images/add_selected.png');
  cursor: pointer;
}

#selection-box-inner2{
  float: left;
  width: 33.333%;
  width: calc(100%/3);
  height: 100%;
  background-color: cornflowerblue;
  border-radius: 100%;
}
#selection-box-inner2:hover > #bon-remove{
  background-image: url('../../assets/images/remove_selected.png');
  cursor: pointer;
}
#selection-box-inner3{
  float: left;
  width: 33.333%;
  width: calc(100%/3);
  height: 100%;
  background-color: cornflowerblue;
  border-radius: 100%;
}
#selection-box-inner3:hover > #bon-view{
  background-image: url('../../assets/images/view_selected.png');
  cursor: pointer;
}

#selection-box span{
  font-weight: bold;
  font-size: 20px;
}

#uitgaven-add{
  width: 128px;
  height:128px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../../assets/images/add.png');
}

#uitgaven-remove{
  width: 128px;
  height:128px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../../assets/images/remove.png');

}

#uitgaven-view{
  width: 128px;
  height:128px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../../assets/images/view.png');
}

