<div class="home-page">

  <div id="left-panel"></div>

  <div id="right-panel"></div>


  <div id="article">


    <section id="article-header">
      <span id="article-header-title">
        <p>Bonnetjes</p>
      </span>
    </section>


    <section id="article-main">
      <div id="selection-title">
        <p>Maak uw keuze:</p>
      </div>

      <!-- Choices to select from-->
      <div id="selection-box">

        <div id="selection-box-inner1">
            <div id="bon-add"></div>
            <span>Toevoegen</span>

        </div>

        <div id="selection-box-inner2">
          <div id="bon-remove"></div>
          <span>Verwijderen</span>

        </div>

        <div id="selection-box-inner3">
          <div id="bon-view"></div>
          <span>Overzicht</span>

        </div>

      </div>


    </section>


  </div>

</div>
