<div id="header-logo">
  <span>TMM</span>
</div>



<div id="header-right"></div>



<!-- the middle onewill be defined last because left and right have a "fixed location"-->
<div id="header-title">

  <!-- little white box on the bottom-right corner -->
  <div id="header-fixed-bottom-right">
    <span>Welkom:</span>
    <div *ngIf="auth.firebaseAuth.authState | async; let user; else showLogin">
      <p class="navbar-text">{{ user.displayName }}</p>
      <button type="button" class="btn btn-link navbar-btn" (click)="auth.logout()">Uitloggen</button>
    </div>
    <ng-template #showLogin>
      <button type="button" class="btn btn-link navbar-btn" (click)="auth.login()">Inloggen</button>
    </ng-template>
  </div>

  <span>The Money Manager</span>

</div>
