<div class="home-page">

  <div id="article">


    <section id="article-header">
      <span id="article-header-title">
        <p>Voeg hier je inkomsten toe</p>
      </span>
    </section>


    <section id="inkomsten-add-section">
      <div id="inkomsten-add-info-section">
        <div id="inkomsten-add-info">
          <div class="inkomsten-add-info-title">
            <span>Info</span>
          </div>
          <span class="inkomsten-info-txt">
            U kunt hier uw inkomsten gemakkelijk bijhouden.
          </span>
          <span class="inkomsten-info-txt">
            U krijgt meer informatie als u een van de opties kiest.
          </span>

        </div>
        <div id="inkomsten-add-info-selected">
          <div class="inkomsten-add-info-title">
            <span>Selected</span>
          </div>
            <span class="inkomsten-add-selected-txt">
              Maak een keuze
            </span>
          </div>
        </div>

      <div id="inkomsten-add-form-section">
        <form id="inkomsten-add-form">
          <tr>
            <th>Categorie</th>
            <th>Omschrijving</th>
            <th>Bedrag</th>
          </tr>
          <td>
            <select>
              <option *ngFor="let categorie of Categorien">
                {{categorie.name}}
              </option>
            </select>
          </td>
          <td></td>
          <td></td>
        </form>
      </div>
    </section>


  </div>
</div>
