<div id="nav-bar">

<!--
  ========================================================================================================================
       LOGO
  ========================================================================================================================
-->


  <div id="nav-bar-logo">
    <span>TMM</span>
  </div>

  <!--
    ========================================================================================================================
          LOGIN
    ========================================================================================================================
  -->
  <div id="nav-bar-login">
    <button class="button-login">Login</button>
  </div>



<!--
  ========================================================================================================================
       ROUTES
  ========================================================================================================================
-->


  <div id="nav-bar-routes">
    <div id="nav-bar-routes-container">
      <!-- for each element in the navigation bar array -->
      <ul >
        <li id="nav-list-item">
          <!-- Create a link with that name -->
          <a *ngFor="let nav of navbar" [routerLink]="['/', nav]">
            <li>
              {{nav}}
            </li>
          </a>
        </li>
      </ul>
    </div>
  </div>



</div>
