/* You can add global styles to this file, and also import other style files */

html {
}

body{
  margin: 0;
}

.home-page{
  background-color: white;
}

router-outlet{
  width: 100%;
  display: flex;
}


/*
========================================================================================================================
                       --->       Loading       <---
========================================================================================================================

*/

#loadingscreen{
  width: 200px;
  height: 200px;
  margin: auto;
  background: green;
  opacity: 1;
}

/*
========================================================================================================================
                     --->       Header       <---
========================================================================================================================

*/

#header-logo{
  float: left;
  width: 180px;
  height: 50px;
  line-height: 50px;
  color: #352B1F;
  text-align: center;
  font-size: 50px;
  background-color: #E8D8C9;

}

#header-title{
  position: relative;
  margin-left: 184px;
  margin-right: 184px;
  height: 50px;
  line-height: 50px;
  color: #352B1F;
  text-align: center;

  font-size: 50px;
  background-color: #E8D8C9;
}

#header-right{
  width: 180px;
  height: 50px;
  float: right;
  border-left: 4px solid white;
  background-color: #E8D8C9;
}



/*
========================================================================================================================
                    --->       Navigation       <---
========================================================================================================================
*/

/* full header*/
#nav-bar{
  background-color: gainsboro;
  width: 100%;
  height: 150px;
  text-align: center;
}

/* logo - left */
#nav-bar-logo {
  float: left;
  width: 300px;
  height: 150px;
  line-height: 150px;
  color: orangered;
  text-align: center;
  font-size: 50px;
}

/* login section - right */
#nav-bar-login{
  float: right;
  width: 300px;
  height: 150px;
}

/* menu-item-container - center */
#nav-bar-routes{
  position: relative;
  margin-left: 300px;
  margin-right: 300px;
  height: 150px;
  text-align: center;
}

/* holds all menu-items */
#nav-bar-routes-container{
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 60px;
}

.nav-link {
  cursor:pointer;
}


ul{
  display: inline-block;
  border-bottom: 2px solid orangered;
}

/* each item in the list */
ul li{
  display: inline-block;   /*no bullets in front of list item*/
  color: black;
  list-style: none;
  line-height: 50px;
  font-size: 18px;
  margin-right: 20px;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, lightgray 50%, gainsboro 50%);
  transition: background-position 0.8s;

}

ul li a{
  text-decoration: none;
}

/* on hovering link  */
ul li :hover li {
  color: orangered;
  background-position: 0 100%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.button-login{
  position: relative;
  top: 4.5em;
  width: 80px;
  height: 30px;
  color: orangered;
  box-shadow: 1px 1px 1px 1px gray ;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, lightgray 50%, gainsboro 50%);
  transition: background-position 0.8s;
  border-style: solid;
}

.button-login:hover{
  border-bottom: 2px solid orangered;
  background-position: 0 100%;


}





/*
========================================================================================================================
                  --->       Footer       <---
========================================================================================================================

*/
app-footer{
  width: 100%;
  height: 100px;
  text-align: center;
}

#footer-title{
  line-height: 80px;
  color: orangered;
  background-color: gainsboro;
}

/*
========================================================================================================================
                  --->       CONTENT       <---
========================================================================================================================
*/

.section {
  height: 450px;
  width: 100%;
  text-align: center;
  background-color: #E5E5E5;
  margin-bottom: 30px;
}
.section-background{
  height: 450px;
  background-image: url("./assets/images/homepage/pattern_1.jpg");
  background-size: 100% 100%;
  background-position: center;
  opacity: .3;
}



h2{
  position: relative;
  top: 2em;
  color: orangered;
}


div.article{
  position: relative;
  bottom: 29.4em; /*pusing element on top of transparent element ( or it will be transparent )*/
  height: 450px;
  background-repeat: no-repeat;
}

#article-1{
}

#article-2{
}

#article-3{
}

#img{
  background-image: url("./assets/images/homepage/3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#img-2{
  position: relative;
  top: 20px;
  background-image: url("./assets/images/homepage/pen.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#img-3{
  position: relative;
  top: 20px;
  background-image: url("./assets/images/homepage/2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#article-4{
  background-position: right;
  right: 20em;
}

#article-main {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 600px;
  text-align: center;
  color: black;
  background-color: black;
  opacity: .6;
}

.divide-3{
  width: 33.33%;
  height: 500px;
  float: left;
}

.divide-2{
  width: 50%;
  height: 450px;
  float: left;
}

.paragraph{
  position: relative;
  top: 5em;
}

.paragraph-2{
  position: relative;
  top: 7em;
  color: orangered;
  font-size: 20px;
}


/*
========================================================================================================================
                  --->       Selection Menu   Uitgaven/ Inkomsten    <---
========================================================================================================================
*/


#article-main p{
  text-align: center;
  font-size: 20px;
  color: white;
}
#selection-title{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}
#selection-box{
  height: 70%;
  background-color: black;
}

#selection-box-inner1{
  float: left;
  width: calc(100%/3);
  height: 100%;
  background-color: cornflowerblue;
}

#uitgaven-add{
  width: 128px;
  height:128px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('assets/images/add.png');
}

#selection-box-inner1:hover #uitgaven-add{
  background-image: url('assets/images/add_selected.png');
  cursor: pointer;
}

#selection-box-inner2{
  float: left;
  width: calc(100%/3);
  height: 100%;
  background-color: cornflowerblue;
}

#uitgaven-remove{
  width: 128px;
  height: 128px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('assets/images/remove.png');
}

#selection-box-inner2:hover  #uitgaven-remove{
  background-image: url('assets/images/remove_selected.png');
  cursor: pointer;
}
#selection-box-inner3{
  float: left;
  width: calc(100%/3);
  height: 100%;
  background-color: cornflowerblue;
}

#uitgaven-view{
  width: 128px;
  height:128px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('assets/images/view.png');
}

#selection-box-inner3:hover  #uitgaven-view{
  background-image: url('assets/images/view_selected.png');
  cursor: pointer;
}

#selection-box span{
  font-weight: bold;
  font-size: 20px;
}

/*
========================================================================================================================
                  --->       Inkomsten Toevoegen      <---
========================================================================================================================
*/

#inkomsten-add-section{
  margin: auto;
  width: 100%;
  height: 500px;
}

#inkomsten-add-form-section{
  max-width: 100%;
  height: 500px;
  color: white;
}

#inkomsten-add-form{

}

#inkomsten-add-info-section{
  float: right;
  width: 250px;
  min-height: 500px;

}

#inkomsten-add-info{
  width: 100%;
  height: 250px;

}

.inkomsten-info-txt{
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
  color: white;
}

#inkomsten-add-info-selected{
  text-align: center;

}

.inkomsten-add-selected-txt{
  display: inline-block;
  margin-top: 80px;
  font-size: 16px;
  color: white;
}

.inkomsten-add-info-title{
  width: 100%;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  color: white;
  border-top: 4px solid cornflowerblue;
  border-bottom: 4px solid cornflowerblue;
}
