<div class="home-page">



  <!--========================================================================================================================
                     SECTION:   1
  ========================================================================================================================
  -->


  <section class="section">
    <div class="section-background"></div>
    <div class="article">
      <div class="divide-3">
        <h2>Wat</h2>
        <div class="paragraph">
          <p>Gemakkelijk en snel uw administratie bijwerken</p>
          <p>Invoeren</p>
          <p>Aanpassen</p>
          <p>Bekijken</p>
        </div>
      </div>
      <div class="divide-3">
        <h2>Waarom</h2>
        <div class="paragraph">
          <p>Vergeet je het vaak te doen?</p>
          <p>Ben je al dat papierwerk zat?</p>
          <p>TMM ruimt de rommel voor jou op!</p>
          <p>En creeert nette overzichten</p>
        </div>
      </div>
      <div class="divide-3">
        <h2>Wie</h2>
        <div class="paragraph">
          <p>TMM is bedoeld voor iedereen</p>
          <p>Het is gemaakt voor uw gemak</p>
          <p>Geen boekhouder voor nodig</p>
          <p>U kunt het nu gemakkelijk zelf!</p>
        </div>
      </div>
    </div>
  </section>


  <!--========================================================================================================================
                     SECTION:   2
  ========================================================================================================================
  -->

  <section class="section">
    <div class="section-background"></div>
    <div class="article">
      <div class="divide-2">
        <h2>Wat is mijn uitgavenpatroon?</h2>
        <div class="paragraph">
          <p>Waar gaat jouw geld heen?</p>
          <p>Snoep je misschien te veel?</p>
          <p>Of heb je onnodig veel abonnementen</p>
          <p>Waarom lukt het niet om te sparen?</p>
        </div>
        <div>
          <div class="paragraph-2">
            <p>TMM geeft antwoorden op al deze vragen</p>
          </div>
        </div>
      </div>
      <div class="divide-2" id="img">

      </div>
    </div>
  </section>

  <!--========================================================================================================================
                     SECTION:   3
  ========================================================================================================================
  -->
  <section class="section">
    <div class="section-background"></div>
    <div class="article">
      <div class="divide-2" id="img-2"></div>
      <div class="divide-2">
        <h2>Zelf gemakkelijk bewerken!</h2>
        <div class="paragraph">
          <p>Simpele opties</p>
          <p>Duidelijke taal</p>
          <p>Voer bonnetjes of facturen in</p>
          <p>En plaats deze als foto erbij</p>
          <p>Invoeren, bewerken, verwijderen</p>
          <p>Het kan allemaal</p>
        </div>
      </div>
    </div>
  </section>

  <!--========================================================================================================================
                     SECTION:   4
  ========================================================================================================================
  -->



  <section class="section">
    <div class="section-background"></div>
    <div class="article">
      <div class="divide-2">
        <h2>Overzichtelijke schema's</h2>
        <div class="paragraph">
          <p></p>
          <p></p>
        </div>
      </div>
      <div class="divide-2" id="img-3"></div>
    </div>
  </section>



  <section class="section">
    <div class="section-background"></div>
    <div class="article">
      <div class="divide-2">
      </div>
      <div class="divide-2" >
        <h2>Demo</h2>
        <div class="paragraph">
          <p></p>
          <p></p>
        </div>
      </div>
    </div>
  </section>

</div>



